header
{
    padding: 2vh 5vw 0px 7vw;
    background-color: #102a43;
    color: 	#bcccdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-list
{
    display: flex;
    list-style: none;
}