.first-profile-sec > h2
{
    color: #f0f4f8;
    font-size: 3.5vw;
}
.first-profile-sec > img
{
    height: 50vh;
    border-radius: 10px;
}
.first-profile-sec
{
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw;
    align-items: center;
}
.profile > p
{
    padding: 0px 20px;
    color: #f0f4f8;
    font-size: 20px;
    background-color:  rgba(16, 42, 67, 0.4);
    border-radius: 5px;
    margin: 10px;
    line-height: 2;
    box-shadow: 0px 0px 100px #102a43;
}
