.logo
{
    height: 50px;
}
.skills-list
{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.skills-sec
{
    padding: 0px 3vw ;
}
.skills-sec > h4
{
    padding: 0px 3vw ;
}